<form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" formControlName="age" id="age" class="form-control" placeholder="Age">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="dob">Date of birth</label>
        <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="dob" id="dob" class="form-control" placeholder="date of birth">
      </div>
    </div>
    <div class="col-md-1 align-self-center">
      <button type="submit" class="btn btn-success">{{buttonText}}</button>
    </div>
    <div class="col-md-2 align-self-center">
      <button type="button" (click)="resetForm()" class="btn btn-warning">Reset</button>
    </div>
  </div>
</form>